* {
    background-color: yellow;
}
body {
    cursor: url("https://img.icons8.com/offices/30/000000/corn.png"), auto;
    text-align: center;
}

h1 {
    font-family: fantasy;
    font-size: 80px;
    border: rgb(235, 137, 10);
}

h2 {
    font-size: 60px;
}

div {
    background-color: black;
    font-size: 20px;
}


