@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

* {
    cursor: url("https://img.icons8.com/offices/30/000000/corn.png"), auto;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: white;
    /* background-color: yellow; */
}
body {
    text-align: center;
}

h1 {
    font-family: fantasy;
    font-size: 90px;
    border: 10px solid black;
    margin-top: -10px;
    text-shadow: 5px 5px 0 yellow;
}

h2 {
    font-size: 60px;
    color: yellow;
}

div {
    /* background-color: black; */
    font-size: 20px;
}
#page{
    margin-top: -15px;
}

button {
    font-size: larger;
    color: black;
    background-color: #24ac24;
    margin: 10px;
    padding: 5px;
}
button:hover{
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation:slidebg 5s linear infinite;
 }

p {
    color: yellow;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

.corn {
    height: 200px;
}